Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-casting-through-void,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -llvm-header-guard
HeaderFilterRegex: '^src/'
FormatStyle: none
SystemHeaders: false
